body {
    background-color: #0B0B0D;
    overflow: none;
    font-family: 'Oxanium', cursive;
    margin: 0 auto;
}

/* ---------- TYPOGRAPHY ---------- */

p,
h1,
h2,
h3,
h4 {
    color: white;
}

h1,
h2,
h3 {
    letter-spacing: 3px;
    line-height: 135%;
}

h4,
h5,
h6,
p {
    line-height: 165%;
}

h1 {
    font-size: 42px;
}

h2 {
    font-size: 36px;
    text-align: center;
}


h3 {
    font-size: 32px;
}

h4 {
    font-size: 32px;
    margin-bottom: 0px;
    margin-top: 0px;
}

p,
button {
    font-size: 18px;
}


a {
    text-decoration: none;
}




/* ---------- ALLIGNMENT ---------- */

#recommendation_text,
footer p {
    text-align: center;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}

#zone_trooper_text,
#command_and_online,
#vram_text {
    text-align: left;
}

footer p,
#comparison_text {
    text-align: center;
}


/* ---------- GENERAL ---------- */


button {
    padding: 17px 20px 15px 20px;
    background-color: transparent;
    border-style: solid;
    border-color: white;
    border-width: 1px;
    color: white;
    margin-top: 10px;
    font-weight: 700;
    font-family: 'Oxanium', cursive;
    text-align: center;
}

button:hover {
    background-color: whitesmoke;
    color: black;
}

img,
button,
.downloads_grid_item,
.gofundme {
    border-radius: 7px;
}


/* ---------- LAYOUT ---------- */

.padding_container {
    width: 90%;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
}

.comparison,
.downloads,
.features,
    {
    margin-top: 150px;
}

.features,
.comparison,
footer,
.donate {
    margin-top: 150px;
    margin-bottom: 150px;
}

.video {
    margin-bottom: 150px;
}



/* ---------- HEADER ---------- */

header {
    height: 90vh;
    background-image: url(img/background.png);
    background-size: cover;
    background-position: bottom;
}

.title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 350px;
}

/* ---------- VIDEO ---------- */

.video_responsive_container {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 56.25%;
    /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
    margin-left: auto;
    margin-right: auto;
}


iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;

}

#before {
    width: auto;
    float: left;
}

#after {
    float: right;
    width: auto;
}

/* ---------- FEATURES ---------- */

.features_grid {
    width: 90%;
    max-width: 1600px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 7.5%;
    grid-row-gap: 150px;
    margin-left: auto;
    margin-right: auto;
}


.features img {
    margin-top: 20px;
}

.features_item:nth-child(1) {
    grid-area: 1 / 1 / 3 / 2;
}

.features_item:nth-child(2) {
    grid-area: 2 / 2 / 4 / 3;
}

.features_item:nth-child(3) {
    grid-area: 3 / 1 / 5 / 2;
}

.features_item:nth-child(4) {
    grid-area: 4 / 2 / 6 / 3;
}

.features_item p {
    padding-bottom: 25px;
}

.features_item img {
    width: 100%;
}


/* ---------- COMPARISON ---------- */


#comparison_img {
    width: 100%;
}


/* ---------- DONATE ---------- */

.gofundme {
    border-style: solid;
    border-color: white;
    border-width: 1px;
    color: white;
    padding: 50px;
    height: auto;
    text-align: center;
}

.gofundme p {
    text-align: left;
}


.gofundme h3 {
    padding-top: 50px;
}

#gofundme_button:hover {
    background-color: #02A95C;
}

#gofundme_button {
    padding-left: 40px;
    padding-right: 40px;

}


/* ---------- DOWNLOADS ---------- */



.downloads_grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, auto);
    grid-column-gap: 50px;
    grid-row-gap: 50px;
}

.downloads_grid_item:nth-child(1) {
    grid-area: 1 / 1 / 2 / 3;
}

.downloads_grid_item:nth-child(2) {
    grid-area: 2 / 1 / 3 / 2;
}

.downloads_grid_item:nth-child(3) {
    grid-area: 2 / 2 / 3 / 3;
}

.downloads_grid_item:nth-child(4) {
    grid-area: 3 / 1 / 4 / 3;
}

.downloads_grid_item:nth-child(6) {
    grid-area: 4 / 1 / 5 / 2;
}

.downloads_grid_item:nth-child(6) {
    grid-area: 4 / 2 / 5 / 3;
}

.downloads_grid_item {
    border-style: solid;
    border-color: white;
    border-width: 1px;
    color: white;
    padding: 50px;
    text-align: center;
    height: auto;
}

/* --------- */

.zone_trooper_skins {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 25px;
    grid-row-gap: 50px;
    padding-top: 50px;
}


/* ---------- FOOTER ---------- */









/* ---------- MEDIA QUERY ---------- */


@media only screen and (max-width: 700px) {
    h1 {
        font-size: 36px;
    }

    h2 {
        font-size: 32px;
        text-align: center;
    }


    h3 {
        font-size: 28px;
    }

    h4 {
        font-size: 24px;
        margin-bottom: 0px;
        margin-top: 0px;
    }

    p,
    button {
        font-size: 18px;
    }


    #logo {
        height: 225px;
    }


    .comparison,
    .downloads,
    .features,
        {
        margin-top: 100px;
    }

    .features,
    .comparison,
    footer,
    .donate {
        margin-top: 100px;
        margin-bottom: 100px;
    }

    .comparison {
        display: none;
    }


    .downloads_grid,
    .features_grid {
        display: block;
    }

    .features_item {
        margin-top: 100px;
    }


    .downloads_grid_item {
        margin-top: 25px;
    }


    .zone_trooper_skins {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }


    footer p,
    #comparison_text {
        text-align: left;
    }
